.categories_container {
  max-width: 1900px;
  margin: 0 auto;
}

.categories_title {
  color: #d8dae0;
  font-size: 50px;
}

.categories_gridcontainer {
  display: flex;
  gap: 20px;
}

.categories_layout {
  flex-basis: 400px;
  /*max-width: 400px;
    width: 400px;
    min-width: 300px*/

}

.categories_layout a {
  text-decoration: none;
}

.category-label {
  background-color: #0466c8;
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 8px;
  padding-left: 10px;
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 500;
}