.categories_container {
  max-width: 1900px;
  margin: 0 auto;
}

.categories_title {
  color: #d8dae0;
  font-size: 50px;
}

.categories_gridcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.categories_layout {
  flex: 1 1 calc(50% - 10px);
  max-width: 400px;
  background-color: #0466c8;
  border-radius: 8px;
  cursor: pointer;

}

@media only screen and (min-width: 768px) {
  .categories_layout {
    flex: 1 1 calc(25% - 15px);
  }
}

.category-label {
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 10px;
  margin: 0;
  color: white;
  font-size: 22px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}