.devlist_container {
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    margin-top: 50px;
    gap: 20px;
}

.devlist_subcontainer {
    cursor: pointer;    
}

.devlist_data {
    display: flex;
    flex-direction: column;
}