.homevideos_container {
    color: white;
    max-width: 1900px;
    margin: 0 auto;
    margin-top: 50px;

  }


.homevideos_grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    grid-gap: 20px;
}

.homevideos_image {
    position: relative;
}

.homevideos_image img {
    width: 100%;
    object-fit: cover;
    border-radius: 13px;
}

.homevideos_grid h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

.homevideos_video-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #aaa;
}

.homevideos_video-data {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: -10px;
}