.homevideos_container {
    color: white;
    max-width: 1700px;
    margin: 0 auto;
}

.homevideos_grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    grid-gap: 20px;
}

.homevideos_image {
    position: relative;
}

.homevideos_image img {
    width: 100%;
    object-fit: cover;
}

.homevideos_grid h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 44px;
  }

.homevideos_grid p {
    font-size: 1rem;
    margin-top: -15px;
}

.homevideos_video-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: -10px;
}